name: Build Commit

on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: windows-2022
    env:
      Solution_Name: Snowfall

    steps:
    - name: Checkout Source code
      uses: actions/checkout@v6

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Download & Setup Dalamud
      run: |
        Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/latest.zip -OutFile latest.zip
        Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

    - name: Build with dotnet
      run: dotnet build --configuration Release

    - name: Push artifacts
      uses: actions/upload-artifact@v6
      with:
        name: Snowfall
        path: .\Snowfall\bin\x64\Release\Snowfall\*
        if-no-files-found: error
